@import "tailwindcss";

/* In v4, you define your theme variables directly in CSS 
  if you want to override defaults.
*/
@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-serif: var(--font-geist-mono), ui-serif, Georgia; 
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}