@import "tailwindcss";

/* In v4, you define your theme variables directly in CSS 
  if you want to override defaults.
*/
:root {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-serif: var(--font-geist-mono), ui-serif, Georgia; 
}

/* Custom Utilities */
@layer utilities {
  @supports (text-wrap: balance) {
    .text-balance {
      text-wrap: balance;
    }
  }

  /* Fallback for older browsers (Chrome < 114) */
  .text-balance {
    overflow-wrap: anywhere;
  }
}